@{ 
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/css/font-face.css" rel="stylesheet" media="all">

    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/css/theme.css?@casheCleaner" rel="stylesheet" media="all">
    @*<link href="~/Content/css/select2.css" rel="stylesheet" />*@
    
    @*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
    <link href="~/Content/themes/base/jquery-ui.min.css?@casheCleaner" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css?@casheCleaner" rel="stylesheet" />
    <link href="~/Content/Site.css?@casheCleaner" rel="stylesheet" />
    <script src="~/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.inputmask.bundle.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/select2.js"></script>

</head>
<body>
    @{

        string myIP = HttpContext.Current.Request.UserHostAddress;
    }
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="/Home/Index">
                            <img src="~/images/icon.png" style="height:52px;" alt="Shree Dwarkadhis Mandir" />
                            <span>Shree Vallabh</span>
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/Darshan/DarshanTime">
                                    <i class="fas fa-bell"></i>
                                    <span class="bot-line"></span>દર્શન
                                </a>
                            </li>
                            <li>
                                <a href="/Manorath/Manorath">
                                    <i class="fas fa-gift"></i>
                                    <span class="bot-line"></span>મનોરથ
                                </a>
                            </li>
                            <li>
                                <a href="/Samagri/Samagri">
                                    <i class="fas fa-circle"></i>
                                    <span class="bot-line"></span>સામગ્રી
                                </a>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-briefcase"></i>
                                    <span class="bot-line"></span>ભંડાર
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="/Bhandar/Bhandar">
                                            <i class="fas fa-briefcase"></i>
                                            <span class="bot-line"></span>ભંડાર
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Supplier/Supplier">
                                            <i class="fas fa-briefcase"></i>
                                            <span class="bot-line"></span>વિક્રેતા (Supplier)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/UnitMeasurement/UnitMeasurement">
                                            <i class="fas fa-briefcase"></i>
                                            <span class="bot-line"></span>માપન એકમ (Unit Of Measurement)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/BhandarCategory/BhandarCategory">
                                            <i class="fas fa-briefcase"></i>
                                            <span class="bot-line"></span>ભંડાર શ્રેણીઓ (Bhandar Category)
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/Receipt/Receipt">
                                    <i class="fas fa-file-text"></i>
                                    <span class="bot-line"></span>ભેટ
                                </a>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="zmdi zmdi-money-box"></i>
                                    <span class="bot-line"></span>નાણકીય વ્યવહાર
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="/MandirVoucher/MandirVoucher">
                                            <i class="zmdi zmdi-money-box"></i>
                                            <span class="bot-line"></span>મંદિર ખર્ચપત્ર (Mandir Voucher)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/AccountTransaction/AccountTransaction">
                                            <i class="zmdi zmdi-money-box"></i>
                                            <span class="bot-line"></span>લેવડદેવડ(Adjust Transaction)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/AccountHead/AccountHead">
                                            <i class="zmdi zmdi-money-box"></i>
                                            <span class="bot-line"></span>ખાતા (Account Head)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/AccountGroup/AccountGroup">
                                            <i class="zmdi zmdi-money-box"></i>
                                            <span class="bot-line"></span>Account Group
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item js-item-menu">
                            <i class="zmdi zmdi-settings"></i>
                            <div class="setting-dropdown js-dropdown">
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="/ApplicationUser/ApplicationUserList">
                                            <i class="zmdi zmdi-account"></i>Application User
                                        </a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="/Mandir/MandirList">
                                            <i class="fa fa-flag"></i>Mandir
                                        </a>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="/Report/ReportList">
                                            <i class="zmdi zmdi-money-box"></i>Reports
                                        </a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-email"></i>Email Log
                                        </a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="/Configuration/Configuration">
                                            <i class="zmdi zmdi-settings"></i>Configuration
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="~/images/icon/avatar-01.jpg" alt="@Function.ReadCookie(CookiesKey.AuthenticatedDisplayName)" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">@Function.ReadCookie(CookiesKey.AuthenticatedDisplayName)</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/images/icon/avatar-01.jpg" alt="@Function.ReadCookie(CookiesKey.AuthenticatedDisplayName)" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">@Function.ReadCookie(CookiesKey.AuthenticatedDisplayName)</a>
                                            </h5>
                                            <span class="email">@Function.ReadCookie(CookiesKey.AuthenticatedEmail)</span>
                                        </div>
                                    </div>
                                    @*<div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="/ApplicationUser/ApplicationUser?Id=@Function.ReadCookie(CookiesKey.AuthenticatedId)">
                                                <i class="zmdi zmdi-account"></i>Profile
                                            </a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="fa fa-lock"></i>Change Password
                                            </a>
                                        </div>
                                    </div>*@
                                    <div class="account-dropdown__footer">
                                        <a href="\Login\Login">
                                            <i class="zmdi zmdi-power"></i>Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->
        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a href="#">
                            <img src="~/images/icon.png" style="height:52px;" alt="Shree Dwarkadhis Mandir" />
                            <span>Shree Vallabh</span>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="/Darshan/DarshanTime">
                                <i class="fas fa-bell"></i>
                                <span class="bot-line"></span>દર્શન
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-gift"></i>
                                <span class="bot-line"></span>ઉત્સવ
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-circle"></i>
                                <span class="bot-line"></span>સામગ્રી
                            </a>
                        </li>
                        <li>
                            <a href="/Bhandar/Bhandar">
                                <i class="fas fa-briefcase"></i>
                                <span class="bot-line"></span>ભંડાર
                            </a>
                        </li>
                        <li>
                            <a href="/Receipt/Receipt">
                                <i class="fas fa-file-text"></i>
                                <span class="bot-line"></span>ભેટ
                            </a>
                        </li>
                        <li>
                            <a href="/AccountTransaction/AccountTransaction">
                                <i class="zmdi zmdi-money-box"></i>
                                <span class="bot-line"></span>હિસાબવહી
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header__tool">
                    <div class="header-button-item js-item-menu">
                        <i class="zmdi zmdi-settings"></i>
                        <div class="setting-dropdown js-dropdown">
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Application User
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="fa fa-flag"></i>Mandir
                                    </a>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Reports
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-email"></i>Email Log
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="/Configuration/Configuration">
                                        <i class="zmdi zmdi-settings"></i>Configuration
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-wrap">
                        <div class="account-item account-item--style2 clearfix js-item-menu">
                            <div class="image">
                                <img src="~/images/icon/avatar-01.jpg" alt="@Function.ReadCookie(CookiesKey.AuthenticatedDisplayName)" />
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#">@Function.ReadCookie(CookiesKey.AuthenticatedDisplayName)</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <img src="~/images/icon/avatar-01.jpg" alt="@Function.ReadCookie(CookiesKey.AuthenticatedDisplayName)" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">@Function.ReadCookie(CookiesKey.AuthenticatedDisplayName)</a>
                                        </h5>
                                        <span class="email">@Function.ReadCookie(CookiesKey.AuthenticatedEmail)</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>Profile
                                        </a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="fa fa-lock"></i>Change Password
                                        </a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="\Login\Login">
                                        <i class="zmdi zmdi-power"></i>Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE -->
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">
                                @Function.ReadCookie(@CookiesKey.AuthenticatedMandirName)
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->
            @RenderBody()
            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                @*<p>© શુદ્ધાદ્વૈત પુષ્ટિમાર્ગ તૃતીયા ગૃહ - કાંકરોલી @DateTime.Now.Year. All rights reserved.</p>*@
                                <p>© Shuddha-advaita Trutiya Gruh of Pushtimarg - Kankroli @DateTime.Now.Year. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>
    </div>
    <div class="wait">
        <div id="loader" class="LoadingControl"></div>
        <div id="LoadingText" class="LoadingControl">Please wait..</div>
    </div>

    <!-- Jquery JS-->

    <script src="~/vendor/slick/slick.min.js">
    </script>
    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/vendor/animsition/animsition.min.js"></script>
    <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/vendor/select2/select2.min.js">
    </script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/js/Common.js"></script>
    <script src="~/Scripts/jquery.redirect.js"></script>
    <script src="~/js/date.format.js"></script>
    <!-- Main JS-->

    <script src="~/js/main.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
