@using ShreeDwarkadhishMandir.Models;
@{
    ViewBag.Title = "Configuration";
    string casheCleaner = DateTime.Now.ToString("ddMMyyyyhhmmss");

    bool IsAllowedDarshanTime = CheckValidation.IsAllowedDarshanTime();
    bool IsAllowedManorath = CheckValidation.IsAllowedManorath();
    bool IsDarshanOrManorath = IsAllowedDarshanTime || IsAllowedManorath;

    bool IsAllowedBhandar = CheckValidation.IsAllowedBhandar();
    bool IsAllowedSamagri = CheckValidation.IsAllowedSamagri();
    bool IsAllowedStore = CheckValidation.IsAllowedStore();
    bool IsAllowedBhandarCategory = CheckValidation.IsAllowedBhandarCategory();
    bool IsAllowedBhandarGroup = CheckValidation.IsAllowedBhandarGroup();
    bool IsAllowedUnitConversion = CheckValidation.IsAllowedUnitConversion();
    bool IsAllowedUnitMeasurement = CheckValidation.IsAllowedUnitMeasurement();
    bool IsAllowedSupplier = CheckValidation.IsAllowedSupplier();
    bool IsBhandarNSamagri = IsAllowedBhandar || IsAllowedSamagri || IsAllowedStore || IsAllowedBhandarCategory ||
        IsAllowedBhandarGroup || IsAllowedUnitConversion || IsAllowedUnitMeasurement || IsAllowedSupplier;


    bool IsAllowedAccountHead = CheckValidation.IsAllowedAccountHead();
    bool IsAllowedAccountGroup = CheckValidation.IsAllowedAccountGroup();
    bool IsAllowedAccount = IsAllowedAccountHead || IsAllowedAccountGroup;

    bool IsAllowedEmailConfiguration = CheckValidation.IsAllowedEmailConfiguration();
    bool IsAllowedReceiptConfiguration = CheckValidation.IsAllowedReceiptConfiguration();
}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 PaddingTop">
        <div class="card">
            <div class="card-header">
                <strong>Configuration</strong>
            </div>
            <div class="default-tab">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link @(IsDarshanOrManorath?"active":"")" id="nav-Darshan-tab" data-toggle="tab" href="#nav-Darshan" role="tab" aria-controls="nav-Darshan"
                           aria-selected="true">દર્શન &amp; મનોરથ</a>
                        <a class="nav-item nav-link @(!IsDarshanOrManorath && IsBhandarNSamagri?"active":"")" id="nav-BhandarSamagri-tab" data-toggle="tab" href="#nav-BhandarSamagri" role="tab" aria-controls="nav-BhandarSamagri"
                           aria-selected="false">ભંડાર &amp; સામગ્રી</a>
                        <a class="nav-item nav-link @(!IsDarshanOrManorath && !IsBhandarNSamagri && IsAllowedAccount?"active":"")" id="nav-Account-tab" data-toggle="tab" href="#nav-Account" role="tab" aria-controls="nav-Account"
                           aria-selected="false">નાણકીય વ્યવહાર</a>
                        <a class="nav-item nav-link @(!IsDarshanOrManorath 
        && !IsBhandarNSamagri && !IsAllowedAccount && IsAllowedReceiptConfiguration?"active":"")" id="nav-Configuration-tab" data-toggle="tab" href="#nav-Configuration" role="tab" aria-controls="nav-Configuration"
                           aria-selected="true">Receipt Configuration</a>
                        <a class="nav-item nav-link @(!IsDarshanOrManorath 
        && !IsBhandarNSamagri && !IsAllowedAccount && !IsAllowedReceiptConfiguration && IsAllowedEmailConfiguration?"active":"")" id="nav-EmailConfiguration-tab" data-toggle="tab" href="#nav-EmailConfiguration" role="tab" aria-controls="nav-EmailConfiguration"
                           aria-selected="false">Email Configuration</a>

                    </div>
                </nav>
                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                    <div class="tab-pane fade @(IsDarshanOrManorath?"show active":"")" id="nav-Darshan" role="tabpanel" aria-labelledby="nav-Darshan-tab">
                        <div class="account-dropdown__item">
                            <a href="/Darshan/DarshanTime">
                                <i class="las la-praying-hands danger_Color"></i>Darshan &amp; Darshan Time
                            </a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="/Manorath/Manorath">
                                <i class="las la-gift danger_Color"></i>Manorath
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade @(!IsDarshanOrManorath && IsBhandarNSamagri?"show active":"")" id="nav-BhandarSamagri" role="tabpanel" aria-labelledby="nav-BhandarSamagri-tab">
                        <div class="account-dropdown__item">
                            <a href="/Bhandar/Bhandar">
                                <i class="las la-store-alt warning_Color"></i>ભંડાર
                            </a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="/Samagri/Samagri">
                                <i class="las la-circle warning_Color"></i>સામગ્રી
                            </a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="/Store/Store">
                                <i class="las la-store warning_Color"></i>સંગ્રહ (Store)
                            </a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="/BhandarCategory/BhandarCategory">
                                <i class="las la-store-alt warning_Color"></i>ભંડાર શ્રેણીઓ (Bhandar Category)
                            </a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="/BhandarGroup/BhandarGroup">
                                <i class="las la-boxes warning_Color"></i>ભંડાર સમૂહ (Bhandar Group)
                            </a>
                        </div>

                        <div class="account-dropdown__item">
                            <a href="/UnitMeasurement/UnitMeasurement">
                                <i class="las la-weight warning_Color"></i>માપન એકમ (Unit Of Measurement)
                            </a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="/UnitConversion/UnitConversion">
                                <i class="las la-random warning_Color"></i>એકમ રૂપાંતર (Unit Conversion)
                            </a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="/Supplier/Supplier">
                                <i class="las la-user-tie warning_Color"></i>વિક્રેતા (Supplier)
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade @(!IsDarshanOrManorath && !IsBhandarNSamagri && IsAllowedAccount?"show active":"")" id="nav-Account" role="tabpanel" aria-labelledby="nav-Account-tab">
                        <div class="account-dropdown__item">
                            <a href="/AccountHead/AccountHead">
                                <i class="las la-layer-group purple_color"></i>ખાતા (Account Head)
                            </a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="/AccountGroup/AccountGroup">
                                <i class="las la-object-ungroup purple_color"></i>ખાતા સમૂહ (Account Group)
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade @(!IsDarshanOrManorath && !IsBhandarNSamagri && !IsAllowedAccount && IsAllowedReceiptConfiguration?"show active":"")" id="nav-Configuration" role="tabpanel" aria-labelledby="nav-Configuration-tab">
                        <div class="card-body card-block">
                            <form action="" method="post" class="form-horizontal">
                                <div id="ConfigurationKeys">

                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button id="SaveConfiguration" style="min-width: 20%;" type="button" class="btn blueBackground btn-sm">
                                <i class="las la-save"></i> Save
                            </button>
                            <button id="resetConfiguration" style="min-width: 20%;" type="reset" class="btn blueBackground btn-sm">
                                <i class="las la-undo-alt"></i> Reset
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane fade @(!IsDarshanOrManorath && !IsBhandarNSamagri && !IsAllowedAccount && !IsAllowedReceiptConfiguration && IsAllowedEmailConfiguration?"show active":"")" id="nav-EmailConfiguration" role="tabpanel" aria-labelledby="nav-EmailConfiguration-tab">
                        <div class="card-body card-block">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="Server" class="form-control-label">SMTP Server</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="Server" name="Server" placeholder="SMTP Server" class="form-control">
                                        <small class="help-block form-text">Please enter SMTP Server detail.</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="Username" class="form-control-label">SMTP Username</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="Username" name="Username" placeholder="SMTP Username" class="form-control">
                                        <small class="help-block form-text">Please enter SMTP Username.</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="Password" class="form-control-label">SMTP Password</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="Password" name="Password" placeholder="SMTP Password" class="form-control">
                                        <small class="help-block form-text">Please enter SMTP Password.</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="Port" class="form-control-label">SMTP Port</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="Port" name="Port" placeholder="SMTP Port" class="form-control">
                                        <small class="help-block form-text">Please enter SMTP Port.</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="DisplayName" class="form-control-label">Email Display Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="DisplayName" name="DisplayName" placeholder="Display Name" class="form-control">
                                        <small class="help-block form-text">Please enter Display Name.</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="SSL" class="form-control-label"></label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <label for="SSL" class="form-check-label ">
                                                    <input type="checkbox" id="SSL" name="SSL" class="form-check-input">SSL Enable
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="card-footer">
                            <button id="SaveEmailConfiguration" style="min-width: 20%;" type="button" class="btn blueBackground btn-sm">
                                <i class="las la-save"></i> Save
                            </button>
                            <button id="resetEmailConfiguration" style="min-width: 20%;" type="reset" class="btn blueBackground btn-sm">
                                <i class="las la-undo-alt"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

<script src="~/js/Configuration.js?@casheCleaner"></script>